/composer.lock
*~
*.bak
*.swp
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.settings
*.tmproj
build
.idea
/fuel/vendors
/fuel/app/phpunit.xml
/fuel/app/logs/*/*/*
/fuel/app/cache/*/*
/fuel/app/config/crypt.php
/fuel/app/config/localhost/*
nbproject/
